html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #eee;
	font-family: 'Courier New', Courier, monospace;
}

.container {
	display: grid;
	grid-template: 12vh 88vh;

	grid-template-areas:
		'n'
		'm';
}

.navbar {
	grid-area: n;
}
