html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #eee;
	font-family: 'Courier New', Courier, monospace;
}

.container {
	display: grid;
	grid-template: 12vh 88vh/10vw 80vw 10vw;

	grid-template-areas:
		'n n n'
		'. m .';
}

.navbar {
	grid-area: n;
}

.main {
	grid-area: m;
}
