.mainContainer {
	margin-top: 10vh;
	margin-right: 2vw;
	margin-left: 2vw;
}

.button {
	position: fixed;
	margin: 5vw;
	right: 0;
	bottom: 0;
	background-color: #80bdff;
	border: 1px solid;
	color: whitesmoke;
	padding: 2vw;
	text-align: center;
	font-size: 30px;
	border-radius: 30%;
}
