.navbar {
	right: 0;
	left: 0;
	top: 0;
	position: fixed;
	background: #914ce0;
	padding-top: 10px;
}

.navbar ul {
	margin: 10px 0px 10px 0px;
	list-style-type: none;
	overflow: hidden;
}

.navbar ul li * {
	list-style-type: none;
	font-size: 30px;
	color: #eee;
	float: right;
	padding-left: 5%;
	padding-right: 5%;
	text-decoration: none;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes bell {
	15% {
		transform: translateX(-7px);
	}
	35% {
		transform: translateX(14px);
	}
	55% {
		transform: translateX(-14px);
	}
	75% {
		transform: translateX(14px);
	}
	90% {
		transform: translateX(-7px);
	}
}
.refresh :hover {
	animation: spin 2s ease-in-out;
}

.git :hover {
	animation: bell 0.7s linear;
}

.navbar ul > :first-child {
	margin-left: 2%;
	width: 20%;
	float: left;
}
