.postContainer {
	border: 5px solid #914ce0;
	background-color: #fff;

	border-radius: 1rem;

	margin-top: 1vw;

	padding: 1vw;
}

.heart {
	padding: 1vw;
	background-color: #80bdff;
	border: 3px solid #80bdff;
	border-radius: 1rem;
}

.number {
	font-weight: bold;
}

hr {
	border: 2px dashed #914ce0;
}

p {
	font-size: 1.3em;
}
